annotated-types==0.6.0
blessed==1.20.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
editor==1.6.6
idna==3.6
inquirer==3.2.4
instagrapi==2.1.1
markdown-it-py==3.0.0
mdurl==0.1.2
pillow==10.3.0
pycryptodomex==3.20.0
pydantic==2.6.4
pydantic_core==2.16.3
Pygments==2.17.2
PySocks==1.7.1
PyYAML==6.0.1
readchar==4.0.6
requests==2.31.0
rich==13.7.1
runs==1.2.2
shellingham==1.5.4
six==1.16.0
typer==0.12.3
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
xmod==1.8.1
